// Import Variable File
@import "./variables.scss";

@import "./components/buttons.scss";

// Here you can include the styles that will be used in all the pages, or use this file to create style components
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--color-text-secondary);
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
.section {
  max-width: 1400px;
  margin: auto;
  padding: 50px 60px;
}
.tint-section {
  background-color: var(--color-background-tint);
}
.desktop-hide{
  display: none;
}
@media only screen and (max-width: 697px) {
  .section {
    padding: 20px;
  }
  .mobile-hide{
    display: none !important;
  }
  .desktop-hide{
    display: block;
  }
}
