/*	============================== #Custom Font Imports Here ==================================== */
// @font-face {
//     font-family: "Open Sans";
//     src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
//          url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
//   }

:root {
    /*	============================== #Colors ==================================== */

    // Brand Colors
    --color-primary: #222B78;
    --color-primary-light: #384086;
    --color-primary-dark: #1e266a;
    --color-primary-rgb: 34,43,120;
    --color-primary-contrast: #fff;

    --color-secondary: #C30C69;
    --color-secondary-light: #c92478;
    --color-secondary-dark:#ac0b5c;
    --color-secondary-rgb: 195, 12, 105;
    --color-secondary-contrast: #fff;

    // Text Colors
    --color-text-primary: #242424;
    --color-text-primary-light: #3a3a3a;
    --color-text-primary-dark: #202020;
    --color-text-secondary: #fefefe;
    --color-text-secondary-light: #fff;
    --color-text-secondary-dark: #e0e0e0;

    // Other Colors Required in the project
    --color-blue: #0071a9;
    --color-green: #21a947;
    --color-red: #a9000a;


    /*	============================== #Font Families ==================================== */
    // Primary Font
    --font-primary: "Roboto", sans-serif;

    // If the Font is not a Scalable Font, then below variables are needed
    --font-primary-thin: "Roboto Thin", sans-serif;
    --font-primary-light: "Roboto Light", sans-serif;
    --font-primary-medium: "Roboto Medium", sans-serif;
    --font-primary-semi-bold: "Roboto Semi Bold", sans-serif;
    --font-primary-bold: "Roboto Bold", sans-serif;
    --font-primary-black: "Roboto Black", sans-serif;
    
    // Secondary Font
    --font-secondary: "Roboto", sans-serif;

    // If the Font is not a Scalable Font, then below variables are needed
    --font-secondary-thin: "Roboto Thin", sans-serif;
    --font-secondary-light: "Roboto Light", sans-serif;
    --font-secondary-medium: "Roboto Medium", sans-serif;
    --font-secondary-semi-bold: "Roboto Semi Bold", sans-serif;
    --font-secondary-bold: "Roboto Bold", sans-serif;
    --font-secondary-black: "Roboto Black", sans-serif;


    /*	============================== #Font Sizes ==================================== */
    --font-tiny: 0.75em;
    --font-small: 0.875em;
    --font-regular: 1em;
    --font-large: 1.25em;
    --font-xlarge: 1.8em;
    --font-xxlarge: 3.75em;


    /*	============================== #Spacing ==================================== */
    --space-tiny: 5px;
    --space-small: 10px;
    --space-regular: 15px; 
    --space-large: 30px;
    --space-xlarge: 45px;
    --space-xxlarge: 60px;
    
}
