/*	============================== #Custom Font Imports Here ==================================== */
// @font-face {
//     font-family: "Open Sans";
//     src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
//          url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
//   }

:root {
    /*	============================== #Colors ==================================== */

    // Brand Colors
    --color-primary: #E9635A;
    --color-primary-light: #EE948E;
    --color-primary-dark: #D45249;
    --color-primary-rgb: 233, 99, 90;
    --color-primary-contrast: #FFFFFF;

    --color-secondary: #687E8C;
    --color-secondary-light: #8C9FAB;
    --color-secondary-dark:#405F73;
    --color-secondary-rgb: 104, 126, 140;
    --color-secondary-contrast: #fff;

    // Text Colors
    --color-text-primary: #41303E;
    --color-text-primary-light: #7E7E7E;
    --color-text-secondary: #FFFFFF;

    // Other Colors Required in the project
    --color-blue: #5659D3;
    --color-green: #469E59;
    --color-yellow:#F6AB2F ;
    --color-red: #E62D2D;     

    /*	============================== #background color ==================================== */
    --color-background: #F5F4F5;
    --color-background-thin: #ECEAEB;
    --color-background-light: #D9D6D8;
    --color-background-dark: #2A2929;

    /*	============================== #Font Families ==================================== */
    // Primary Font
    --font-primary: "Glory",sans-serif;

    // If the Font is not a Scalable Font, then below variables are needed
    --font-primary-thin: 400 1em "Gilroy-UltraLight", sans-serif;
    --font-primary-light: 400 1em "Gilroy-Light",sans-serif;
    --font-primary-regular: 400 1em "Gilroy-Regular",sans-serif;
    --font-primary-medium: 400 1em "Gilroy-Medium",sans-serif;
    --font-primary-semi-bold: 400 1em "Gilroy-SemiBold",sans-serif;
    --font-primary-bold: 400 1em "Gilroy-ExtraBold",sans-serif;
    --font-primary-black: 400 1em "Gilroy-Black",sans-serif;

    // Secondary Font
    --font-secondary: "Roboto", sans-serif;

    // If the Font is not a Scalable Font, then below variables are needed
    --font-secondary-thin: 200 1em Roboto,sans-serif;
    --font-secondary-light: 300 1em Roboto, sans-serif;
    --font-secondary-regular: 400 1em Roboto, sans-serif;
    --font-secondary-medium: 500 1em Roboto, sans-serif;
    --font-secondary-bold: 700 1em Roboto, sans-serif;
    --font-secondary-black: 900 1em Roboto, sans-serif;


    /*	============================== #Font Sizes ==================================== */
    --font-tiny: 0.75em;
    --font-small: 0.875em;
    --font-regular: 1em;
    --font-medium:1.25em;
    --font-large: 2.1875em;
    --font-xlarge: 3.4375em;
    --font-xxlarge: 3.75em;
    
}
