{% set BASE_IMG_PATH="assets/images/clients/" %}

{% set clients=[
{
logo: "adda.png",
title: "Designing of the most famous Ice Cream Chain",
img: "Baskin-Robbins-Symbol.png",
description: "Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.",
images: [
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
]
},
{
logo: "daikin.png",
title: "Designing of the most famous Ice Cream Chain",
img: "Baskin-Robbins-Symbol.png",
description: "Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.",
images: [
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
]
},
{
logo: "voltas.png",
title: "Designing of the most famous Ice Cream Chain",
img: "Baskin-Robbins-Symbol.png",
description: "Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.",
images: [
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
]
},
{
logo: "lg.png",
title: "Designing of the most famous Ice Cream Chain",
img: "Baskin-Robbins-Symbol.png",
description: "Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.",
images: [
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
]
},
{
logo: "sparx.png",
title: "Designing of the most famous Ice Cream Chain",
img: "Baskin-Robbins-Symbol.png",
description: "Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.",
images: [
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
]
},
{
logo: "lg.png",
title: "Designing of the most famous Ice Cream Chain",
img: "Baskin-Robbins-Symbol.png",
description: "Lorem Ipsum is simply dummy text of the printing and typesetting
industry. Lorem Ipsum has been the industry's standard dummy text
ever since the 1500s, when an unknown printer took a galley of type
and scrambled it to make a type specimen book.",
images: [
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
"the-inside-of-the-shop.jpg",
]
},
]%}

<!DOCTYPE html>
<html lang="en">
{% include "../components/_head.html" with {css:'clients',title:'Clients'} %}

<body>
  {% include '../components/_page-loader.html' %}
  {% include '../components/_menu.html' with {activeMenu:'clients'} %} {% include
  '../sections/_client-hero.html' %}

  <div class="section">
    <p class="clients-title">Our Major Clients</p>
    <div class="clients-logo-slider">
      {% for client in clients %}
      <div class="clients-slider-img">
        <img class="client-logo" src="{{ BASE_IMG_PATH }}{{ client.logo }}" alt="Client Logo" />
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Client Items Section -->
  <div class="section">
    <!-- Client Item Start -->
    {% for client in clients %}
    <div class="client-item">
      <div class="client-info">
        <p class="client-title">
          {{ client.title }}
        </p>
        <img class="client-img progressive__img progressive--not-loaded"
          src="{{ BASE_IMG_PATH }}progressive/{{ client.img }}" data-progressive="{{ BASE_IMG_PATH }}{{ client.img }}"
          alt="Client Image" />
        <p class="client-desc">
          {{ client.description }}
        </p>
      </div>
      <div class="client-images">
        {% for image in client.images %}
        <img class="client-img progressive__img progressive--not-loaded"
          src="{{ BASE_IMG_PATH }}progressive/{{ image }}" data-progressive="{{ BASE_IMG_PATH }}{{ image }}"
          alt="Client Image" />
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <!-- Client Item End -->
  </div>

  {% include '../sections/_footer.html' %}

  {% include '../components/_library_loader.html' with {global:true,slick:true,customJs:'clients'} %}
</body>

</html>