<!DOCTYPE html>
<html lang="en">
{% include "../components/_head.html" with {css:'clients',title:'Clients'} %}

<body>
  {% include '../components/_page-loader.html' %}
  {% include '../components/_menu.html' with {activeMenu:'clients'} %} {% include
  '../sections/_client-hero.html' %}

  <div class="section">
    <h1 class="clients-title">Our Major Clients</h1>
    <div class="clients-logo-slider">
      {% verbatim %}
      {% for logo in webdata.client_logos %}
      <div class="clients-slider-img">
        <img class="client-logo" src="{{ logo }}" alt="{{ client.title }}" />
      </div>
      {% endfor %}
      {% endverbatim %}
    </div>
  </div>

  <!-- Client Items Section -->
  <div class="section">
    {% verbatim %}
    <!-- Client Item Start -->
    {% for client in webdata.clients %}
    <div class="client-item">
      <div class="client-info">
        <p class="client-title">
          {{ client.title }}
        </p>
        <img class="client-img " src="{{ client.logo }}" alt="{{ client.title }}" />
        <p class="client-desc">
          {{ client.description }}
        </p>
      </div>
      <div class="client-images">
        {% for image in client.other_images %}
        <img class="client-img " src="{{ image }}" alt="{{ client.title }}" />
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% endverbatim %}
    <!-- Client Item End -->
  </div>

  {% include '../sections/_footer.html' %}

  {% include '../components/_library_loader.html' with {global:true,slick:true,customJs:'clients'} %}
</body>

</html>