<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/index.css">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
   <!-- To Ignore PHP twig structure and prevent it from executing by twig js -->
   {% verbatim %}
   <!-- All The blocks with twig syntax will ignored by twig js -->
   {% include 'sections/_about.html' %}
   {% endverbatim %}
   <!-- Below will be executed by twig-js -->
    {% include '../sections/_about.html' %}
</body>
</html>