{% set sliders=[
  {
    description: "The trendiest Living Rooms to live in",
    img: "1.jpg",
  },
]%}
<!DOCTYPE html>
<html lang="en">

  {%  include "../components/_head.html" with {css:'index',title:'Home'} %}
  <body>
    <div class="covid-popup">
      <p class="covid-msg">
      All of our employees are vaccinated with atleast one dose of the Covid Vaccination
      </p>
      <svg class="closing-button" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.9999 1L1 17M1.00005 1L17 17" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
 
    {% include '../sections/_hero.html' with sliders %} 

    {% include '../sections/_designs.html' %} 
    {% include '../sections/_expertise-ad.html' with {sectionClass:'tint-bg-section'} %}
    {% include '../sections/_number-home.html' %}
    {% include '../sections/_technology.html' %}
    {% include '../sections/_how-it-works.html' %}
    {% include '../sections/_expertise-ad.html' with {sectionClass:'primary-bg-section'} %}
    {% include '../sections/_testimonials.html' %}
    {% include '../sections/_projects-section.html' %}
    {% include '../sections/_why-choose-us.html' %}
    {% include '../sections/_orders.html' %}
    {% include '../sections/_client-videos.html' %}
    {% include '../sections/_expertise-ad.html' with {sectionClass:'primary-bg-section'} %}
    {% include '../sections/_faq.html' %}
    {% include '../sections/_dream-home.html' %}
    {% include '../sections/_footer.html' %}
  </body>
</html>
