{% set sliders=[
  {
    description: "The trendiest Living Rooms to live in",
    img: "slider1.jpg",
  }
]%}
{% set works_ad={
  kitchen: {
    title: "Modular Kitchen Designs like never seen before",
    description: "Our kitchen designs are modular, and extra ordinary in shape. You cook the food, we cook the kitchen.",
    images: [
      "modular-kitchen1.jpg",
      "modular-kitchen2.jpg",
      "modular-kitchen3.jpg",
      "modular-kitchen4.jpg",
    ]
  },
  living_room: {
    title: "Modular Living Room Designs like never seen before",
    description: "Our living room designs are modular, and extra ordinary in shape. Make you feel good.",
    images: [
      "living-room1.jpg",
      "living-room2.jpg",
      "living-room3.jpg",
      "living-room4.jpg",
    ]
  },
  bathroom: {
    title: "Modular Bathroom Designs like never seen before",
    description: "Our bathroom designs are modular, and extra ordinary in shape. You cook the water, we do nothing.",
    images: [
      "bathroom1.jpg",
      "bathroom2.jpg",
      "bathroom3.jpg",
      "bathroom4.jpg",
    ]
  }
}%}
<!DOCTYPE html>
<html lang="en">
  {%  include "../components/_head.html" with {css:'index',title:'Home'} %}
  <body>
    {% include '../components/_page-loader.html' %}
    <div class="covid-popup">
      <p class="covid-msg">
      All of our employees are vaccinated with atleast one dose of the Covid Vaccination
      </p>
      <svg class="closing-button" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.9999 1L1 17M1.00005 1L17 17" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>


    {% include '../components/_menu.html' with {activeMenu:'home'} %}

    {% include '../sections/_hero.html' with sliders %} 

    {% include '../sections/_designs.html' %} 
    {% include '../sections/_expertise-ad.html' with {data:works_ad.kitchen,sectionClass:'tint-bg-section'} %}
    {% include '../sections/_number-home.html' %}
    {% include '../sections/_technology.html' %}
    {% include '../sections/_how-it-works.html' %}
    {% include '../sections/_expertise-ad.html' with {data:works_ad.living_room,sectionClass:'primary-bg-section'} %}
    {% include '../sections/_testimonials.html' %}
    {% include '../sections/_projects-section.html' %}
    {% include '../sections/_why-choose-us.html' %}
    {% include '../sections/_orders.html' %}
    {% include '../sections/_client-videos.html' %}
    {% include '../sections/_expertise-ad.html' with {data:works_ad.bathroom,sectionClass:'primary-bg-section'} %}
    {% include '../sections/_faq.html' %}
    {% include '../sections/_dream-home.html' %}
    {% include '../sections/_footer.html' %}
    {% include '../components/_scroll-to-top.html' %}
    {% include '../components/_library_loader.html' with {global:true,slick:true,customJs:'index'} %}
    {% include '../components/_light-box.html' %}
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
   
  </body>
</html>
