{% set sliders=[
  {
    description: "The trendiest Living Rooms to live in",
    img: "1.jpg",
  },
]%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Document</title>

    <!-- Style -->
    <link rel="stylesheet" href="assets/css/index.css" />
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include '../sections/_hero.html' with sliders %} 
    {% include '../sections/_home2.html' %} 
    {% include '../sections/_home3.html' %}
    {% include '../sections/_number-home.html' %}
    {% include '../sections/_home4.html' %}
    {% include '../sections/_home3.html' %}
    {% include '../sections/_how-it-works.html' %}
    {% include '../sections/_home6.html' %}
    {% include '../sections/_projects-section.html' %}
    {% include '../sections/_orders.html' %}
    {% include '../sections/_client-videos.html' %}
    {% include '../sections/_home3.html' %}
    {% include '../sections/_faq.html' %}
    {% include '../sections/_dream-home.html' %}
    {% include '../sections/_footer.html' %}
  </body>
</html>
