<div class="aim-bg-color">
<div class="section aim-and-design">
    <div class="aim-main">
        <h2 class="aim-heading dotted-heading">Our Aim</h2>
        <p class="aim-discription">It all started when college friends, Lingraj and Chandan, set upon their journeys to design their dream homes. It didn’t take them long to realise how fragmented the industry was and how factors like identifying.</p>
            <p class="aim-discription">It all started when college friends, Lingraj and Chandan, set upon their journeys to design their dream homes. It didn’t take them long to realise how fragmented the industry was and how factors like identifying.</p>
    </div>
    <div class="aim-main">
        <h2 class="aim-heading dotted-heading">Why we Design</h2>
        <p class="aim-discription">It all started when college friends, Lingraj and Chandan, set upon their journeys to design their dream homes. It didn’t take them long to realise how fragmented the industry was and how factors like identifying.</p>
        <p class="aim-discription">It all started when college friends, Lingraj and Chandan, set upon their journeys to design their dream homes. It didn’t take them long to realise how fragmented the industry was and how factors like identifying.</p>
    </div>
</div>
</div>