<!--Designs hero section start-->
<div class="section">
  <p class="sec2-line1">We are best when we Design</p>
  <p class="sec2-line2">We expertise in these art forms</p>

  {% set IMG_PATH="assets/images/home/home-sec2/" %}


  <div class="image-wrapper">
    {% verbatim %}
    {% for data in webdata.expertise %}
    <div class="section2-box">
      <img class="box-image " src="{{ data.image }}" alt="{{ data.name }}" />
      <img class="sec2-logo" src="assets/images/brand/logo.svg" alt="Brand logo">
      <div class="sec2-text-wrapper">
        <p class="sec2-box-line1">{{ data.name }}</p>
        <p class="sec2-box-line2">{{ data.description }}</p>
        <a href="projects?c={{data.id}}" class="primary-link">View Designs</a>
      </div>
    </div>
    {% endfor %}
    {% endverbatim %}
  </div>
</div>
<!--Designs hero section end-->