<!--faq section start-->
<div class="faq-page">
  <div class="section">
    <h1 class="faq">FAQs</h1>
    {% verbatim %}
    {% for faq in webdata.faqs %}
    <div class="faq-quaries">
      <div class="faq-main">
        <p class="quaries">{{ faq.question }}</p>
        <span class="icon"></span>
      </div>
      <p class="quaries-answers">{{ faq.answer }}</p>
    </div>
    {% endfor %}
    {% endverbatim %}
    <button type="button" name="contact button" onclick="window.location='contact'" class="rounded-button faq-btn">
      More Questions ?
    </button>
  </div>
</div>
<!--faq section end-->