<div class="faq-page">
<div class="section">
    {% set faqs=[
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        },
        {
            title: "Why is Golden Design Interior is the right place for me to get my House Designed ?",
            body: "We’re glad you asked. Creative freedom and zero micromanagement – this we promise. You will also have multiple training opportunities. You’ll have a stable income. You’ll awaken or groom your inner entrepreneur. And, you’ll be working on a diverse portfolio, and with the brightest minds, that only India’s largest design platform can offer."
        }
    ]%}
    <h2 class="faq">FAQs</h2>
    {% for faq in faqs %}
    <div class="faq-quaries">
        <div class="faq-main"><p class="quaries">{{ faq.title }}</p>
        <svg class="zoom-in" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8 6.63V8.87H8.57V15.1H6.33V8.87H0.1V6.63H6.33V0.4H8.57V6.63H14.8Z" fill="#41303E"/>
            </svg></div>
        <p class="quaries-answers">{{ faq.body }}</p>
    </div>
    {% endfor %}
<button type="button" class="rounded-button faq-btn">More Questions ?</button>
</div>
</div>