<div class="tint-section {{sectionClass}}">
<div class="section section3">
    <div class="sec3-image-wrapper">
        <img class="sec3-image" src="assets/images/home/home-sec3/sec3-image.jpg"/>
        <img class="sec3-image" src="assets/images/home/home-sec3/sec3-image.jpg"/>
        <img class="sec3-image" src="assets/images/home/home-sec3/sec3-image.jpg"/>
        <img class="sec3-image" src="assets/images/home/home-sec3/sec3-image.jpg"/>
    </div>
    <div class="sec3-paragraph">
        <p class="sec3-line1">Modular Kitchen Designs like never seen before</p>
        <p class="sec3-line2">Our kitchen designs are modular, and extra ordinary in shape. You cook the food, we cook the kitchen.</p>
        <a class="primary-link">Read More</a>
    </div>
</div>
</div>