<!--How its work section start-->
<div class="tint-section">
    {% set works=[
    {
    id: 1,
    label: "Consult with us",
    image:"works-1.jpg"
    },
    {
    id: 2,
    label: "We make the floor plan",
    image:"works-2.jpg"
    },
    {
    id: 3,
    label: "We make the wall plan",
    image:"works-1.jpg"
    },
    {
    id: 4,
    label: "Get the best materials",
    image:"works-2.jpg"
    },
    {
    id: 5,
    label: "Build your home",
    image:"works-1.jpg"
    }
    ]%}

    <div class="section">
        <h6 class="works-title">How to get our designs</h6>
        <div class="work-number-wrapper">
            {% for work in works %}
            <a class="work-number-link" data-steps={{work.id}}>
                <p class="works-number">{{ work.id }}</p>
                <p class="works-label mobile-hide">{{ work.label }}</p>
            </a>
            {% endfor %}
        </div>
        <div class="works-slider">
            {% for work in works %}
            <div class="work-slider-item">
                <img src="assets/images/works/{{work.image}}" alt="Work" class="work-image" />
            </div>
            {% endfor %}
        </div>
        <div class="work-box">
            <p class="work-content work-title"></p>
            <p class="work-content work-desc"></p>
            <div class="loader-parent">
                <div class="loader-fill">
                    <p class="loader-value">0%</p>
                </div>

            </div>
        </div>

    </div>
</div>
<!--How its work section end-->
