<div class="tint-section">
<div class="section">
    <h6 class="works-title">How to get our designs</h6>
    <div class="work-number-wrapper">
        <a href="#" class="work-number-link">
            <p class="works-number">1</p>
            <p class="works-label">Consult with us</p>
        </a>
        <a href="#" class="work-number-link">
            <p class="works-number">2</p>
            <p class="works-label">We make the floor plan</p>
        </a>
        <a href="#" class="work-number-link">
            <p class="works-number">3</p>
            <p class="works-label">Consult with us</p>
        </a>
        <a href="#" class="work-number-link">
            <p class="works-number">4</p>
            <p class="works-label">Consult with us</p>
        </a>
        <a href="#" class="work-number-link">
            <p class="works-number">5</p>
            <p class="works-label">Consult with us</p>
        </a>
    </div>
    <div class="works-slider">
        <div class="work-slider-item">
            <img src="../../assets/images/works/works-1.jpg" class="work-image" />
        </div>
    </div>
    <div class="work-box">
        <p class="work-title">The Wall Plans</p>
        <p class="work-desc">It's execution time! Pay 50% of the final quotation to kickstart the order process. We design the Walls and the plan for every wall in the house.</p>
        <div class="loader-parent">
            <div class="loader-fill" style="width: 50%;"></div>
            <p class="loader-value">50%</p>
        </div>
    </div>
    
</div>
</div>