<!--Interior about section start-->
<div class="interior section">
<div class="interior-main">
<h1 class="interior-heading">What is Golden Design Interior</h1>
<p class="interior-passage">After noticing how fragmented the industry was in 2006, Lingaraj decided to take action. A small salon was designed by him, and the business was born. Lingaraj moved on to many other places, created many more designs, and experienced many learning experiences that have led him to the point where he is today. Following this, Chandan joined 2021 to take charge of Golden Design's sales and marketing departments. By considering several factors, such as identifying the right professionals, coordinating tasks, and ensuring fair price and quality, they embarked on a new journey.</p>
<p class="interior-passage">After starting to design showrooms, salons, and commercial spaces in 2008, Golden Design began to get major clients. Golden Design works with a team of contractors, painters, plumbers, 3D artists, and designers at the moment.</p>
</div>
</div>
<!--Interior about section end-->