<div class="interior section">
<div class="interior-main">
<h2 class="interior-heading">What is Golden Design Interior</h2>
<p class="interior-passage">It all started when college friends, Lingraj and Chandan, set upon their journeys to design their dream homes. It didn’t take them long to realise how fragmented the industry was and how factors like identifying the right professionals, coordination of tasks, and ensuring fair price and quality were pain points faced by many.</p>
<p class="interior-passage">Determined to fix this and offer a happier experience to homeowners, they built a much needed bridge for the industry. Livspace was founded in 2014. It is now the trusted brand for complete home interior design and renovation for thousands of homeowners.</p>
</div>
</div>