<!--project con hero section start-->
<div class="projects-hero">
  <div class="section">
    {% verbatim %}
    <h1 class="inner-head">
      Get inspired by a few of our best interior designs
    </h1>
    <p class="hero-sub-head">{{project.location}}</p>
    <div class="project-user">
      <img class="project-user-img" src="{{project.client_image}}" alt="Project User" />
      <div class="project-user-info">
        <p class="project-u-name">{{project.client_name}}</p>
        <p class="project-u-date">{{project.date}}</p>
      </div>
    </div>
    {% endverbatim %}
  </div>
</div>
<!--project con hero section start-->