<div class="section">
  <div class="project-discription">
    <div class="project-lines">
      <p class="project-line1">A tour of our work</p>
      <p class="project-line2">
        Have you ever seen someones elses order in a hotel and ordered the same
        ?
      </p>
    </div>
    <button type="button" class="rounded-button">Get free consultation</button>
  </div>
  <div class="project-image-section">
    <div class="project-bg-image">
      <div class="project-image-lines">
        <p class="image-line-1">Greenery Gallery Design</p>
        <p class="image-line-2">In Chembur, Mumbai</p>
      </div>
    </div>
    <div class="project-bg-image">
        <div class="project-image-lines">
          <p class="image-line-1">Greenery Gallery Design</p>
          <p class="image-line-2">In Chembur, Mumbai</p>
        </div>
      </div><div class="project-bg-image">
        <div class="project-image-lines">
          <p class="image-line-1">Greenery Gallery Design</p>
          <p class="image-line-2">In Chembur, Mumbai</p>
        </div>
      </div>
  </div>
  <button type="button" class="rectangular-button">VIEW ALL PROJECTS</button>
</div>
