<!--projects section start-->
<div class="section">
  <div class="project-discription">
    <div class="project-lines">
      <p class="project-line1">A tour of our work</p>
      <p class="project-line2">
        Have you ever seen someones elses order in a hotel and ordered the same
        ?
      </p>
    </div>
    <button type="button" name="contact button" onclick="window.location='contact'" class="rounded-button mobile-hide">Get free consultation</button>
  </div>
  <div class="project-image-section">
  </div>
  <button type="button" name="projects button" onclick="window.location='projects'" class="rectangular-button">VIEW ALL PROJECTS</button>
</div>
<button type="button" name="contact button" onclick="window.location='contact'" class="rounded-button desktop-hide">Get free consultation</button>
  </div>
  <!--projects section end-->