<!--project images section start-->
<section class="project-con">
  <div class="section form-section">
    <div class="image-wrapper">
      {% verbatim %}
      {% for projectImage in project.other_images %}
      {% if projectImage %}
      <img class="individual-img" src="{{projectImage}}">
      {% endif %}
      {% endfor %}
      {% endverbatim %}
    </div>
    <div class="mobile-hide">
      {% include '../components/_enquiry-form.html' %}
    </div>
  </div>
</section>
<!--project images section end-->