{% set IMG_PATH="assets/images/home/_projects-section/" %}
{% set projects=[
  {
    img: "gallery-design.png",
    name: "Greenery Gallery Design",
    location: "In Chembur, Mumbai"
  },
  {
    img: "gallery-design.png",
    name: "Greenery Gallery Design",
    location: "In Chembur, Mumbai"
  },
  {
    img: "gallery-design.png",
    name: "Greenery Gallery Design",
    location: "In Chembur, Mumbai"
  },
]%}
<div class="section">
  <div class="project-discription">
    <div class="project-lines">
      <p class="project-line1">A tour of our work</p>
      <p class="project-line2">
        Have you ever seen someones elses order in a hotel and ordered the same
        ?
      </p>
    </div>
    <button type="button" class="rounded-button mobile-hide">Get free consultation</button>
  </div>
  <div class="project-image-section">
    {% for project in projects %}
    <div class="project-bg-image" style="background-image:{{ IMG_PATH }}{{ project.img }}">
      <div class="project-image-lines">
        <p class="image-line-1">{{ project.name }}</p>
        <p class="image-line-2">{{ project.location }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button type="button" class="rectangular-button">VIEW ALL PROJECTS</button>
</div>
<button type="button" class="rounded-button desktop-hide">Get free consultation</button>
  </div>
