<div class="section form-section">
  <div class="image-wrapper">
    <iframe
      class="pinterest-image"
      src="https://assets.pinterest.com/ext/embed.html?id=471118811026983219"
      height="600"
      width="600"
      frameborder="0"
      scrolling="no"
    ></iframe>

    <iframe
      class="pinterest-image"
      src="https://assets.pinterest.com/ext/embed.html?id=293085888244526775"
      height="600"
      width="100%"
      frameborder="0"
      scrolling="no"
    ></iframe>

    <iframe
      class="pinterest-image"
      src="https://assets.pinterest.com/ext/embed.html?id=145170787978149398"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
  <div class="mobile-hide">
    {% include '../components/_inquiry-form.html' %}
  </div>
</div>
