<!--project images section start-->
<section class="project-con">
  <div class="section form-section">
    <div class="image-wrapper">
      <img class="individual-img"
        src="https://www.artzolo.com/sites/default/files/blog/images/indoors-3101776_1920.jpg">
      <img class="individual-img"
        src="https://www.artzolo.com/sites/default/files/blog/images/indoors-3101776_1920.jpg">
      <img class="individual-img"
        src="https://www.artzolo.com/sites/default/files/blog/images/indoors-3101776_1920.jpg">
      <img class="individual-img"
        src="https://www.artzolo.com/sites/default/files/blog/images/indoors-3101776_1920.jpg">
      <img class="individual-img"
        src="https://www.artzolo.com/sites/default/files/blog/images/indoors-3101776_1920.jpg">
      <img class="individual-img"
        src="https://www.artzolo.com/sites/default/files/blog/images/indoors-3101776_1920.jpg">
    </div>
    <div class="mobile-hide">
      {% include '../components/_enquiry-form.html' %}
    </div>
  </div>
</section>
<!--project images section end-->