<div class="section sec4-second-half section">
  <p class="big-thin-title">Technology can be our best friend</p>
  <div class="sec4-second-half-division">
    <div class="sec4-second-half1">
      <p class="sec4-paragraph">
        We design houses that are smart using the latest IOT technologies like
        Alexa, Google Home and Siri which will make your house the talk of the
        town.
      </p>
      <p class="sec4-paragraph">
        These technologies will help you control your appliances even when you
        are not around. These technologies will help you control your appliances
        even when you are not around.
      </p>
      <ul class="tech-list">
        <li class="tech-list-item">Switch on the AC before you come home.</li>
        <li class="tech-list-item">
          Start your washing machine half an hour before you come home straight
          from your phone.
        </li>
        <li class="tech-list-item">Alexa please close the curtains. Guess what this would do.</li>
        <li class="tech-list-item">Someone at the door, check your phone to see who ?</li>
      </ul></div>
      <div class="sec4-second-half2">
        <img class="image1" src="assets/images/home/home-sec4/sec4-img1.png" />
        <img class="alexa" src="assets/images/home/home-sec4/sec4-img2.png"/>
        <img class="alexa" src="assets/images/home/home-sec4/sec4-img3.png"/>
        <img class="siri-icon" src="assets/images/home/home-sec4/sec4-img4.png"/>
      </div>
    </div>
</div>
