<div class="section">
  <p class="head-line">Why choose Golden Design Interiors ?</p>
  <div class="why-us-main-division">
    <div class="attribute top">
      <div class="why-us-questions">
      </div>
      <div class="why-us-benefits top-color">
          <img class="why-us-logo" src="assets/images/brand/golden-design-logo.png" />
        </div>
      <div class="why-us-benefits">
      </div>
    </div>
    
    <!-- Firt Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">PRICE</p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">No hidden costs</p>
        <p class="styling">Price Match Guarantee</p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">45% hike between first quote & final cost</p>
      </div>
    </div>

    <!-- Second Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">CONVENIENCE</p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">One-stop shop for all interior needs</p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">Approx 27 market trips to find everything</p>
      </div>
    </div>

    <!-- 3 Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">DESIGN</p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">Personalised designs with 3D visuals</p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">Cookie-cutter designs with 2D visuals</p>
      </div>
    </div>

    <!-- 4 Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">TIMELINES</p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">45-day installation</p>
        <p class="styling">Regular updates with project tracking</p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">Unreliable timelines</p>
        <p class="styling">No communication on updates/delays</p>
      </div>
    </div>

    <!-- 5 Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">QUALITY</p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">Branded materials</p>
        <p class="styling">146 quality checks</p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">Inferior materials used to cut costs</p>
        <p class="styling">No quality checks</p>
      </div>
    </div>

    <!-- 6 Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">WARRANTY</p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">Up to 10 year warranty</p>
        <p class="styling">India’s first & only on-site service warranty</p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">No warranty offered for products or services</p>
      </div>
    </div>

    <!-- 7 Row -->
    <div class="attribute">
      <div class="why-us-questions">
        <p class="values">AFTER-SALES SUPPORT </p>
      </div>
      <div class="why-us-benefits active">
        <p class="styling">Dedicated team for prompt response & support </p>
      </div>
      <div class="why-us-benefits">
        <p class="styling">No after-sales support</p>
      </div>
    </div>

    <div class="attribute">
      <div class="why-us-questions">
      </div>
      <div class="why-us-benefits active bottom-color">
      </div>
      <div class="why-us-benefits">
      </div>
    </div>
    </div>
    <button type="button" class="rounded-button client-btn">Get free consultation</button>
    </div>
