.rounded-button{
  background-color: var(--color-primary);
  border-radius: 25px;
  color:var(--color-primary-contrast);
  padding:12px 32px;
  font: var(--font-primary-semi-bold);
  font-size: var(--font-medium);
  transition: transform 0.4s ease-out;
  transform: scale(1);
  display: inline-block;
  &:hover{
    transform: scale(0.95);
  }
  &:active {
    opacity: 0.7;
  }
}
@media only screen and (max-width: 697px) {
  .rounded-button{
    margin: 35px auto;
  }
}

.primary-link{
  font-size: var(--font-regular);
  font: var(--font-primary-semi-bold);
  color: var(--color-primary);
  text-align: left;
  position: relative;
  &:hover{
    &:after{
      right: -20px;
    }
    &:active {
      opacity: 0.8;
    }
  }
  &:after{
    content: "";
    width: 5px;
    height: 5px;
    background: var(--color-primary);
    position: absolute;
    border-radius: 5px;
    right: -10px;
    top: 50%;
    transition: right 0.4s;
  }
}
