/* ----------------------- ENQUIRY FORM STYLING STARTS HERE --------------------------- */
.form-section {
  display: flex;
  position: relative;
}
.form-wrapper {
  height: 100%;
  right: 0;
  padding: 0 0 0 40px;
  position: absolute;
  top: -360px;
  width: 33%;
}
.inq-form {
  background-color: var(--color-text-secondary);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.08);
  padding: 36px;
  position: sticky;
  top: 100px;
}
.form-title {
  font: var(--font-primary-semi-bold);
  font-size: var(--font-large);
  margin-bottom: 20px;
}
.input-wrap {
  display: flex;
  flex-direction: column;
}
.gdi-input {
  font: var(--font-secondary-thin);
  border: 1px solid var(--color-secondary-light);
  border-radius: 4px;
  color: var(--color-text-primary);
  margin: 9px 0;
  padding: 13px;
  width: 100%;
}
.gdi-ta {
  height: 100px;
}
.form-disclaimer {
  font: var(--font-primary-regular);
  font-size: var(--font-small);
}
.contact-btn {
  margin: 20px 0;
}
.form-message {
  font: var(--font-primary-regular);
  color: var(--color-text-secondary);
  padding: 12px 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid #405f73;
  border-radius: 50%;
  transform: translateY(-0.075em);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-primary);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
#propertyType {
  font: var(--font-secondary-thin);
  border: 1px solid var(--color-secondary-light);
  border-radius: 4px;
  color: var(--color-text-primary);
  margin: 9px 0;
  padding: 13px;
  width: 100%;
  background-color: #fff;
}

.property-type {
  display: flex;
  margin-bottom: 9px;
}
.form-control {
  display: flex;
  font: var(--font-primary-medium);
  margin-right: 40px;
}
.property-field {
  font: var(--font-primary-semi-bold);
  margin: 9px 0 8px;
}

.form-error {
  background-color: var(--color-red);
}
.form-success {
  background-color: var(--color-green);
}

//FOR MOBILE
@media screen and (max-width: 1100px) {
  .form-control {
    margin-right: 10px;
  }
  input[type="radio"] {
    margin-right: 3px;
  }
}
@media screen and (max-width: 697px) {
  .form-title {
    font-size: var(--font-medium);
    margin-bottom: 5px;
  }
  .inq-form {
    padding: 20px;
  }
}
/* ----------------------- ENQUIRY FORM STYLING ENDS HERE --------------------------- */
