/* ----------------------- LIGHT BOX STYLING STARTS HERE --------------------------- */
#light-box-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.95);
  &.visible{
    display: flex;
    align-items: center;
  }
}
.modal-content{
  height: 50vh;
  width: 100vh;
  align-items: center;
  margin: auto
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.cursor {
  cursor: pointer;
}
.light-box-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// FOR MOBILE
@media only screen and (max-width: 697px) {
  .modal-content{
   width: 100vw;
  }
}
/* ----------------------- LIGHT BOX STYLING STARTS HERE --------------------------- */