// .covid-popup {
//   background-color: var(--color-background-light);
//   padding: 12px 20px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .covid-msg {
//   color: var(--color-text-primary);
//   font: var(--font-primary-medium);
// }
// .closing-button{
//   cursor: pointer;
// }
// @media only screen and (max-width: 697px) {
//   .covid-popup{
//     padding: 6px 9px;
//   }
// .closing-button{
//   height: 22px;
//   width: 22px;
//   margin-left: 16px;
// }
// }


.menu-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-background-dark);
  padding: 4px 20px;
  align-items: center;
}
.logo {
  display: flex;
    padding: 2px 0;
}
.menu-element {
  padding: 24px 16px;
  font: var(--font-primary-semi-bold);
  margin: 0 30px 0 10px;
  &:hover {
    color: var(--color-primary);
  }
  &.active {
    border-bottom: 6px var(--color-primary) solid;
  }
}
.menu-btn{
  margin-left: 21px;
}
.mobile-button {
  display: none;
}

@media only screen and (max-width: 697px) {
  .menu-item {
    display: none;
  }
  .mobile-button {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    padding: 10px 30px;
    font: var(--font-primary-semi-bold);
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .mobile-menu{
    position: relative;
    z-index: 1;
  }
  .mobile-menu-item{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-background-dark);
    display: none;
}
  .mobile-menu-element{
    display: block;
    font: var(--font-primary-semi-bold);
    color: var(--color-primary-contrast);
    border-bottom: 2px solid var(--color-primary-contrast);
    padding: 10px;
    text-align: center;
  }
  .hamburger-icon{
    path{
    fill: var(--color-primary-contrast);
  }
}


header{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}
  
}
