.covid-popup{
  background-color: var(--color-background-light);
  padding:12px 20px;
}
.covid-msg{
  color:var(--color-text-primary);
  font: var(--font-primary-medium);
}
.menu-bar{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-background-dark);
  padding: 4px 20px;
  align-items: center;
}
.logo{

}
.menu-item{
}
.menu-element{
  padding: 26px 15px;
  font: var(--font-primary-semi-bold);
  &:hover{
    color: var(--color-primary);
  }
  &.active{
    border-bottom: 6px var(--color-primary) solid;
  }
}
.mobile-button{
  display: none;
}

@media only screen and (max-width: 697px) {
  .menu-item{
    display: none;
  }
  .mobile-button{
    display: block;
    background-color: var(--color-primary);
    color:var(--color-primary-contrast);
    padding:10px 30px;
    font: var(--font-primary-semi-bold);
    width: 100%;
  }
}
