/* ----------------------- PROJECT ITEM STYLING STARTS HERE --------------------------- */
.project-list-tab {
  margin-bottom: 50px;
}
.project-btn {
  margin: 0 10px 10px;
}
.project-specification {
  background-color: transparent;
  border-radius: 25px;
  color: var(--color-primary);
  padding: 12px 32px;
  font: var(--font-primary-semi-bold);
  font-size: var(--font-medium);
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transform: scale(1);
  display: inline-block;
  text-align: center;
  border: 1px solid var(--color-primary);
  &:hover {
    transform: scale(0.95);
  }
  &:active {
    opacity: 0.7;
  }
}
.project-specification.active {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}
.project-item {
  margin-bottom: 80px;
  .project-img-wrapper {
    border: 4px solid var(--color-secondary);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    .project-img {
      display: block;
      height: 35vw;
      width: 60vw;
      object-fit: cover;
    }
  }
}

.project-filters {
  margin: 10px 0 30px;
}

.design-type {
  font: var(--font-primary-bold);
  font-size: var(--font-medium);
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px;
  &::before {
    content: "";
    height: 2px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 12px;
    background-color: var(--color-text-primary);
  }
}
.history {
  margin: 45px 0 30px;
}
.project-title {
  font: var(--font-primary-bold);
  font-size: var(--font-large);
  margin-top: 20px;
}
.project-addr {
  font: var(--font-primary-medium);
  margin: 4px 0 13px;
}
.project-desc {
  color: var(--color-text-primary-light);
  font: var(--font-primary-light);
  line-height: 154%;
  margin-bottom: 17px;
}
.image-over-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 24px;
}
.project-details-wrap {
  margin-left: 18px;
}
.project-details {
  font: var(--font-primary-light);
  color: var(--color-text-primary-light);
  line-height: 25px;
  margin-bottom: 14px;
}

/*------------------------------ User Info Component Imports------------------------------ */
@import "user-info.scss";

//FOR MOBILE
@media screen and (max-width: 697px) {
  .project-title {
    font-size: var(--font-medium);
  }
  .project-addr {
    font-size: var(--font-small);
  }
  .project-desc {
    font-size: var(--font-small);
  }
  .project-item {
    .project-img-wrapper {
      .project-img {
        height: 55vw;
        width: 100%;
      }
    }
  }
  .project-list-tab {
    margin-bottom: 10px;
  }
  .project-specification {
    padding: 6px 20px;
    font-size: var(--font-regular);
  }
  .project-btn {
    margin: 0 5px 10px;
  }
  .design-type {
    margin-bottom: 10px;
  }
  .project-details {
    margin-bottom: 4px;
  }
  .history {
    margin-top: 30px;
  }
}
/* ----------------------- PROJECT ITEM STYLING ENDS HERE --------------------------- */
