.project-user {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  bottom: 0;
  display: flex;
  left: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  .project-user-img {
    border: 3px solid var(--color-primary);
    border-radius: 50px;
    height: 57px;
    width: 57px;
  }
  .project-user-info {
    color: var(--color-text-secondary);
    margin-left: 14px;
    .project-u-name {
      font: var(--font-primary-bold);
      font-size: var(--font-medium);
    }
    .project-u-date {
      font: var(--font-primary-medium);
    }
  }
}
