/* ----------------------- SCROLL TO TOP STYLING STARTS HERE --------------------------- */
.btn-top {
  background: var(--color-primary);
  position: fixed;
  right: 2.2em;
  bottom: -10%;
  display: block;
  width: 48px;
  height: 48px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 50%;
  transition: bottom 0.4s ease-in;
  z-index: 9999;
}


.slide-up{
  bottom: 2.2em;
}

.arrow {
      position: absolute;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      margin-top: -5px;
      cursor: pointer;
    }

.up:hover polyline,
.up:focus polyline {
stroke-width: 15;
}

.up:active polyline {
stroke-width: 15;
transition: all 100ms ease-in-out;
}
#gotop{
  display: none;
}
/* ----------------------- SCROLL TO TOP STYLING ENDS HERE --------------------------- */