<!--Enquiry Form Start-->
<div class="form-wrapper">
  <div class="inq-form">
    <p class="form-title">Talk to our designer</p>
    <div class="input-wrap">
      <input type="text" class="gdi-input" id="name" placeholder="Name" required />
      <input type="email" class="gdi-input" id="email" placeholder="Email" required />
      <input type="text" class="gdi-input" id="phone" placeholder="Phone Number" />
      <textarea type="text" id="message" class="gdi-input gdi-ta" placeholder="Service Needed" required></textarea>
      <p class="form-msg" id="form-error"></p>
      <p class="form-msg" id="form-success"></p>
      <button type="button" name="contact button" class="rounded-button contact-btn" id="submit">REACH OUT TO
        US</button>
    </div>
    <p class="form-disclaimer">
      By submitting you agree to share your contact details with us.
    </p>
  </div>
</div>


<!--Enquiry Form End-->