<head>
  <link rel="icon" 
      type="image/png" 
      href="assets/images/brand/favicon/favicon-icon.png">
    <meta charset="UTF-8" />
    <meta name="description" content="Golden Design Interior WebSite">
    <meta name="keywords" content="INTERIOR,BEDROOM,KITCHEN,LIVING ROOM,HALL">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Golden Design Interior</title>

    <!-- Style -->
    <link rel="stylesheet" href="assets/css/{{css}}.css" />
    
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>