<!-- Head start here -->

<head>
  <link rel="icon" type="image/png" href="assets/images/brand/favicon/favicon-icon.png">
  <meta charset="UTF-8" />
  <meta name="description"
    content="Golden Design Interior is one of the best Interior design companies in Mumbai and India. We deal with interior design work for offices, showrooms, and houses. New and Renovated houses. We do plumbing, furniture, tiling, etc. We have a set of contractors, painters with us. We expertise in Living Room Designs, Kitchen Designs, Showroom and Salon Designs.">
  <meta name="keywords"
    content="interior design, living room, kitchen design, home design, renovation, villas, 2bhk, 3bhk, furnishing">
  <meta http-equiv="expires" content="0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="canonical" href="https://goldendesigninteriors.com/" />
  <title>{{title}} | Golden Design Interior</title>

  <link rel="stylesheet" type="text/css" href="lib/progressive-load/progressively.css" />
  <!-- Style -->
  <link rel="stylesheet" href="assets/css/{{css}}.css" />

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
</head>
<!-- Head endssss here-->