<div class="form-wrapper">
  <div class="inq-form">
    <p class="form-title">Talk to our designer</p>
    <div class="input-wrap">
      <input type="text" class="gdi-input" placeholder="Name" />
      <input type="text" class="gdi-input" placeholder="Email" />
      <input type="text" class="gdi-input" placeholder="Phone Number" />
      <textarea
        type="text"
        class="gdi-input gdi-ta"
        placeholder="Service Needed"
      ></textarea>
      <p class="form-message form-success">Hiii, I am Alia</p>
      <button class="rounded-button contact-btn" type="submit">REACH OUT TO US</button>
    </div>
    <p class="form-disclaimer">
      By submitting you agree to share your contact details with us.
    </p>
  </div>
</div>
