<header>
<div class="menu-bar">
<div class="logo">
  <a href="./">
  <img src="assets/images/brand/golden-design-logo.png" alt="golden design logo"/>
  </a>
</div>
<a class="desktop-hide" href="#" id="menu-btn"><svg class="hamburger-icon" fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg></a>
<div class="menu-item">
  <a href="./" target="_new" class="menu-element {%if activeMenu=='home'%}active{%endif%}">Home</a>
  <a href="about-us" target="_new" class="menu-element {%if activeMenu=='about'%}active{%endif%}">About Us</a>
  <a href="projects" target="_new" class="menu-element {%if activeMenu=='projects'%}active{%endif%}">Projects</a>
  <a href="clients" target="_new" class="menu-element {%if activeMenu=='clients'%}active{%endif%}">Clients</a>
  <a type="button" name="contact button" class="rounded-button" href="contact">Free Consulation</a>
  </div>
</div>
<a type="button" name="contact button" class="mobile-button menu-btn" href="contact">Free Consulation</a>
<div class="desktop-hide mobile-menu">
  <div class="mobile-menu-item">
   <a href="./" target="_new" class="mobile-menu-element">Home</a>
   <a href="about-us" target="_new" class="mobile-menu-element">About Us</a>
   <a href="projects" target="_new" class="mobile-menu-element">Projects</a>
   <a href="clients" target="_new" class="mobile-menu-element">Clients</a>
  </a>
  </div>
</div>
</header>



