<div class="menu-bar">
<div class="logo">
  <img src="assets/images/brand/golden-design-logo.png" />
</div>
<div class="menu-item">
  <a href="./" target="_new" class="menu-element {%if activeMenu=='home'%}active{%endif%}">Home</a>
  <a href="about-us" target="_new" class="menu-element {%if activeMenu=='about'%}active{%endif%}">About Us</a>
  <a href="projects" target="_new" class="menu-element {%if activeMenu=='projects'%}active{%endif%}">Projects</a>
  <a href="clients" target="_new" class="menu-element {%if activeMenu=='clients'%}active{%endif%}">Clients</a>
  <a type="button" class="rounded-button" href="contact">Free Consulation</a>
  </div>
</div>
<a type="button" class="mobile-button menu-btn" href="contact">Free Consulation</a>

