<!--Project-item Start-->

{% verbatim %}
<div class="project-filters">
  <a type="button" href="./projects"
    class="project-btn project-specification {% if category==null %} active {% endif %}">All</a>
  {% for filter in filters %}
  {% if filter.shouldShow %}
  <a type="button" href="./projects?c={{filter.id}}"
    class="project-btn project-specification {% if filter.id==category %}active {% endif %}">{{filter.name}}</a>
  {% endif %}
  {% endfor %}
</div>
{% if expertise.id %}
<p class="design-type">What we provide in {{expertise.name}}</p>
<ul class="project-details-wrap">
  {% for service in expertise.services %}
  <li class="project-details">{{service}} </li>
  {% endfor %}
</ul>
<p class="design-type history">Our History of Designs</p>
{% endif%}
{% for project in projects %}
<a href="./project-consumption?p={{project.id}}">
  <div class="project-item">
    <div class="project-img-wrapper">
      <img class="project-img " src="{{ project.image }}" />
      <div class="project-user">
        {% if project.client_image %}
        <img class="project-user-img " src="{{ project.client_image }}" alt="{{ project.client_name }}" />
        {% endif %}
        <div class="project-user-info">
          <p class="project-u-name">{{ project.client_name }}</p>
          <p class="project-u-date">{{ project.client_date }}</p>
        </div>
      </div>
      <img class="image-over-logo" src="assets/images/brand/logo.svg" alt="golden design logo" />
    </div>
    <div class="project-info">
      <p class="project-title">{{ project.title }}</p>
      <p class="project-addr">{{ project.location }}</p>
    </div>
    <p class="project-desc">
      {{ project.description }}
    </p>
    <a href="./project-consumption?p={{project.id}}" class="primary-link">View Project</a>
  </div>
</a>
{% endfor %}
{% endverbatim %}
<!--Project-item Start-->