.aim-bg-color {
  background-color: var(--color-background-light);
}
.aim-and-design {
  display: flex;
}
.aim-main {
  padding: 50px 30px;
}
.aim-heading {
  font: var(--font-primary-bold);
  font-size: var(--font-large);
  margin-bottom: 12px;
  display: inline-block;
  color: var(--color-text-primary);
}
.aim-discription {
  color: var(--color-text-primary);
  font: var(--font-primary-medium);
  line-height: 1.875em;
}
.dotted-heading {
  position: relative;
  &::after {
    content: "";
    width: 9px;
    height: 9px;
    background: var(--color-primary);
    position: absolute;
    border-radius: 5px;
    right: -15px;
    top: 26px;
  }
}

@media only screen and (max-width: 697px) {
  .aim-and-design {
    flex-direction: column;
  }
  .aim-heading {
    font-size: var(--font-medium);
    margin: 30px 0 20px;
  }
  .aim-main {
    padding: 10px !important;
  }
  .aim-discription {
    font-size: var(--font-regular);
    line-height: 26px;
  }
  .dotted-heading {
    position: relative;
    &::after {
      content: "";
      width: 7px;
      height: 7px;
      background: var(--color-primary);
      position: absolute;
      border-radius: 5px;
      right: -11px;
      top: 13px;
    }
  }
}
