.dream-home{
    background-image: url("./../images/home/dream-home/dream_home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: #fff;
    height: 574px;
    padding-top: 170px;
         .dream-home-headline{
             font: var(--font-primary-bold);
             font-size: var(--font-large);
             text-align: center;
             padding: 58px 0px 32px;
  }
  .dream-home-button{
            display: block;
            margin: auto;
  }
}

@media only screen and (max-width: 697px){
.dream-home{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 315px;
  background-color: #ffffff;
}
}