.dream-home{
    background-image: url("./../images/home/dream-home/dream_home.jpg");
    background-size: cover;
    height: 372px;
         .dream-home-headline{
             font: var(--font-primary-bold);
             font-size: var(--font-large);
             text-align: center;
             padding: 58px 0px 32px;
  }
  .dream-home-button{
            display: block;
            margin: auto;
            padding: 18px 59px 16px 60px;
            border-radius: 51px;
            font: var(--font-primary-bold);
            font-size: var(--font-medium);
  }
}

@media only screen and (max-width: 697px){
.dream-home{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 315px;
  background-color: #ffffff;
}
}