/* -------------------- EXPERTISE AD SECTION STYLING STARTS HERE------------------------------- */
.section3 {
  display: flex;
  padding: 45px 160px;
}
.sec3-image-wrapper {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: center;
  align-items: center;
}
.sec3-image {
  border: 1px solid var(--color-primary);
  width: 10vw;
  height: 10vw;
  border-radius: 12px;
  border: 1px solid var(--color-primary);
  filter: none !important;
  &:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both !important;
  }
}
.sec3-paragraph {
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}
.sec3-line1 {
  color: var(--color-text-primary);
  font: var(--font-primary-bold);
  font-size: var(--font-large);
  margin: 10px 0;
}
.sec3-line2 {
  font: var(--font-secondary-regular);
  font-size: var(--font-medium);
  margin: 10px 0 30px;
  line-height: 1.5em;
}
.sec4-line1 {
  font: var(--font-primary-light);
  font-size: var(--font-xlarge);
  color: var(--color-text-primary);
  background-color: var(--color-background);
}
.exp-link {
  font-size: var(--font-medium);
}
.sec3-image.progressive__img {
 width: 178px;
 height: 178px;
}
 
//FOR MOBILES
@media only screen and (max-width: 697px) {
  .sec3-image {
    width: 46% !important;
    margin: 5px 4px;
    max-width: 178px;
  }
  .sec3-line1 {
    margin: 20px 0 10px;
  }
  .sec3-paragraph {
    margin-left: 6px;
    padding: 0;
  }
}
.tint-bg-section {
  background-color: var(--color-background-tint);
  .sec3-line1,
  .sec3-line2 {
    color: var(--color-text-primary);
  }
  .primary-link {
    color: var(--color-primary);
  }
  .sec3-image {
    border-color: var(--color-primary);
  }
}
.primary-bg-section {
  background-color: var(--color-primary);
  .sec3-line1,
  .sec3-line2,
  .primary-link {
    color: var(--color-primary-contrast);
  }
  .primary-link::after {
    background-color: var(--color-primary-contrast);
  }
  .sec3-image {
    border-color: var(--color-primary-contrast);
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media only screen and (max-width: 800px) {
  .section3 {
    flex-direction: column-reverse;
    padding: 20px;
    padding-bottom: 70px !important;
  }
  .sec3-image-wrapper,
  .sec3-paragraph {
    width: 100%;
  }
  .sec3-image {
    width: 20vw;
    height: 20vw;
  }
  .sec3-image-wrapper {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .sec3-image {
    width: 42% !important;
    height: 38vw;
  }
}
/* -------------------- EXPERTISE AD SECTION STYLING ENDS HERE------------------------------- */
