/* -------------------- FAQ SECTION STYLING STARTS HERE------------------------------- */
.faq-page {
  background-color: var(--color-text-secondary);
  .faq {
    font: var(--font-primary-bold);
    font-size: var(--font-xlarge);
    color: var(--color-text-primary);
    margin: 130px 0 20px;
  }
  .faq-quaries {
    border: 1px solid var(--color-background-light);
    border-radius: 8px;
    padding: 20px;
    margin-top: 15px;
    cursor: pointer;

    .faq-main {
      display: flex;
      justify-content: space-between;
    }
    .quaries-answers {
      display: none;
      font: var(--font-secondary-regular);
      color: var(--color-text-primary);
      padding: 20px 26px 0px 0px;
      line-height: 1.75em;
    }
  }
  .faq-btn {
    display: block;
    margin: auto;
    margin-top: 70px;
  }
}
.quaries {
  font: var(--font-primary-regular);
  font-size: var(--font-medium);
  color: var(--color-text-primary);
}
.quaries::first-letter {
  text-transform: capitalize;
}
.zoom-in {
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.5);
  }
}

//FOR MOBILE
@media only screen and (max-width: 697px) {
  .zoom-in {
    min-width: 19px;
  }
  .faq {
    margin: 40px 0 20px !important;
  }
  .quaries {
    font-size: 16px;
    padding-right: 13px;
  }
}
/* -------------------- FAQ SECTION STYLING ENDS HERE------------------------------- */
.icon {
  display: inline-block;
  position: relative;
  margin-right: 10px;

  &::before {
    display: block;
    position: absolute;
    content: "";
    top: 11px;
    left: 5px;
    width: 15px;
    height: 3px;
    background: #41303e;
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 11px;
    width: 3px;
    height: 15px;
    background: #41303e;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
  }
}
.open::after {
  transform: scaleY(0);
}
