.footer-section {
  background-color: var(--color-background-dark);
  background-image: url("./../images/footer/progressive/bg-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 90%;
  color: var(--color-text-secondary);
}
.img-social-media {
  padding: 25px 0 55px 0;
}
.social-media-icon{
  display: inline-block;
  &:hover{
    .svg-circle{
      border: 2px solid var(--color-primary);
      transform: scale(1.1);
      path{
      stroke: var(--color-primary);
      }
    }
  }
  .svg-circle {
    border-radius: 50%;
    height: 49px;
    width: 49px;
    border: 2px solid #ffffff;
    padding: 7px;
    margin: 22px 5px;
    transition: transform 0.4;
  }
}
.footer-bottom {
  display: flex;
  padding: 60px 0;

  .contact-title {
    font: var(--font-primary-bold);
    font-size: var(--font-large);
  }
  .contact-label {
    font: var(--font-secondary-bold);
    font-size: var(--font-small);
    margin: 21px 0 5px;
  }
  .contact-link {
    font: var(--font-secondary-regular);
  }
  .website {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .website-title {
      font: var(--font-primary-bold);
      font-size: var(--font-medium);
      margin-bottom: 15px;
    }
    .website-link {
      font: var(--font-primary-medium);
      margin-bottom: 16px;
      display: block;
      position: relative;
      &:hover:after { 
        width: 100%; 
        left: 0; 
      }
    }
  }
} 
.footer-contact {
  width: 30%;
}
.end {
  width: 40%;
  text-align: end;
  position: relative;
  align-self: end;
}
.website-link:after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.brand-bg-symbol{
  height: 133px;
  width: 182px;
}

@media screen and (max-width: 697px) {
  .img-social-media {
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-contact {
    width: 100%;
  }
  .end {
    margin-top: 60px;
    width: 100%;
  }
}