.hero-image-background{
  background-image:  linear-gradient(transparent, var(--color-background-dark)), url(../../assets/images/home/hero-slider/slider1.jpg);
  height: 90vh !important;
  width: 100%;
  background-size: cover;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center;
  padding: 60px;
}

.hero-content{
  text-align: center;
}

.bg-description {
  font: var(--font-primary-black);
  font-size: var(--font-xlarge);
  color:var(--color-text-secondary);
  margin-bottom:20px;
}

@media only screen and (max-width: 697px) {
  .bg-description{
    font-size: var(--font-large);
  }
}