.hero-image-background{
  background-image:  linear-gradient(transparent, var(--color-background-dark)), url(../../assets/images/home/hero-slider/slider1.jpg);
  height: 86vh !important;
  width:100%;
  background-size: cover;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: center;
  padding: 60px;
}

.hero-content{
  text-align: center;
}

.bg-description {
  font: var(--font-primary-black);
  font-size: var(--font-xlarge);
  color:var(--color-text-secondary);
  margin-bottom:27px;
}
.hero-cta-button{
  padding: 16px 52px;
  margin-bottom: 7px;
}

.slick-prev{
  left: 15px !important;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  &::before{
    font-size: 30px !important;
  }
}
.slick-next{
  right: 25px !important;
  transform-origin: center;
  transition: all 1s ease-in-out;
  &::before{
    font-size: 30px !important;
  }
}
.slick-next:hover:before {
  font-size: 45px;
}

@media only screen and (max-width: 697px) {
  .bg-description{
    font-size: var(--font-large);
    margin-bottom: 10px;
  }
  .hero-image-background{
    padding: 0;
  }
  .hero-image-background{
    background-image:  linear-gradient(transparent, var(--color-background-dark)), url(../../assets/images/home/hero-slider/slider-mobile.jpg);
    // height: 86vh !important;
    // width:100%;
    // background-size: cover;
    // display: flex !important;
    // align-items: flex-end !important;
    // justify-content: center;
    padding: 60px;
  }
}
