.section6 {
    display: flex;
    align-items: center;
    padding: 40px;
}
.section6-image-part {
  width: 40%;
}
.sec6-img {
  width: 100%;
}
.section6-paragraph-part {
  width: 60%;
  padding-left: 60px;
}
.quote-icon{
    width: 40px;
    height: 44px;
    margin-top: 6px;
}
.section6-paragraph {
  font: var(--font-primary-regular);
  font-size: var(--font-medium);
  color: var(--color-text-primary);
  margin-bottom: 20px;
  padding-right: 143px;
}
.sec6-img-lines{
display: flex;
align-items: center;

}
.sec6-mini-img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 2px solid var(--color-primary);
}
.lines {
    margin-left: 10px;
}
.line1 {
  font: var(--font-primary-light);
  font-size: var(--font-medium);
}
.line2 {
  font: var(--font-primary-bold);
  font-size: var(--font-small);
}

@media only screen and (max-width: 697px){
.section6{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.section6-image-part{
  width: 100%;
}
.section6-paragraph-part{
  padding-left: 0;
  width: 100% ;
}
.section6-paragraph{
  padding-right: 0;
}
}