.works-title {
  color: var(--color-text-primary);
  font: var(--font-primary-semi-bold);
  font-size: var(--font-large);
  text-align: center;
}
.work-number-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  .work-number-link {
    margin: 0 20px;
    text-align: center;
    width: 7em;
    .works-number {
      align-items: center;
      background-color: var(--color-primary-contrast);
      color: var(--color-text-primary);
      border-radius: 58px;
      display: inline-flex;
      font: var(--font-primary-semi-bold);
      font-size: var(--font-medium);
      height: 58px;
      justify-content: center;
      width: 58px;
      transition: all 0.3s ease-in;
      &:hover{
        transform: scale(1.1);
      }
    }
    .works-label {
      color: var(--color-text-primary);
      font: var(--font-primary-bold);
      font-size: var(--font-regular);
      margin-top: 17px;
      transition: all 0.3s ease-in;
    }
    &.active {
      .works-number {
        background-color: var(--color-primary);
        color: var(--color-primary-contrast);
      }
      .works-label {
        color: var(--color-primary);
      }
    }
  }
}

.works-slider {
  margin-top: 50px;
  text-align: center;
  .work-slider-item {
    align-items: center;
    display: flex !important; // To avoid slick adding display block
    flex-direction: column;
  }
}
.work-image {
  border-radius: 55px;
  width: 94%;
  height: auto;
}

.work-box {
  background-color: var(--color-text-secondary);
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: -110px;
  padding: 35px 56px;
  position: relative;
  text-align: left;
  width: 60%;
  .work-title {
    color: var(--color-text-primary);
    font: var(--font-primary-bold);
    font-size: var(--font-medium);
  }
  .work-desc {
    color: var(--color-text-primary);
    font: var(--font-secondary-regular);
    font-size: var(--font-regular);
    margin-top: 2px;
    line-height: 1.4375em;
  }
}

.loader-parent {
  align-items: center;
  background-color: var(--color-background-light);
  border-radius: 30px;
  display: flex;
  height: 30px;
  margin-top: 21px;
  overflow: hidden;
  width: 100%;

  .loader-fill {
    background-color: var(--color-primary);
    height: 100%;
    width: 0%;
    transition: width 0.4s ease-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .loader-value {
    color: var(--color-primary-contrast);
    font: var(--font-primary-semi-bold);
    font-size: var(--font-regular);
    margin-right: 10px;
  }
}
@media only screen and (max-width: 697px) {
  .works-slider {
    margin: 50px -20px 0;
  }
  .works-title {
    margin-top: 98px;
  }

  .work-box {
    width: 100%;
    margin-bottom: 99px;
    padding: 18px 29px;
  }
  .work-number-wrapper {
    .work-number-link {
      margin: 0 15px;
      .works-number {
        height: 40px;
        width: 40px;
        font-size: var(--font-regular);
      }
    }
  }
  .work-image{
    width: 250%;
    height: auto;
  }
}
