.image-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 65%;
}
.pinterest-image {
  // height: 100%;
  // width: 100%;
}
@media screen and (max-width: 697px) {
  .image-wrapper {
    width: 100%;
  }
  .pinterest-image {
    height: 45vh;
    margin: 20px 0;
  }
}
