.projects-hero {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.54) 100%
    ),
    url(../images/projects/projects-hero.jpg);
  background-size: cover;
  padding-top: 275px;
}
.inner-head {
  color: var(--color-text-secondary);
  font: var(--font-primary-bold);
  font-size: var(--font-xlarge);
  text-align: left;
  width: 60%;
}
@media screen and (max-width: 697px) {
  .inner-head {
    font-size: var(--font-large);
    width: 100%;
  }
}
