/* -------------------- PROJECT LIST SECTION STYLING STARTS HERE------------------------------- */
.list-wrapper {
  width: 65%;
}
.view-prjts-btn {
  margin: 20px auto;
  display: block;
}

//FOR MOBILE
@media screen and (max-width: 697px) {
  .list-wrapper {
    width: 100%;
  }
}

/* ------------------Components Import-------------------*/
@import "../components/project-item.scss";

/* -------------------- PROJECT LIST SECTION STYLING ENDS HERE------------------------------- */