.sec4-second-half {
  padding: 95px 78px 140px 78px;
}
.sec4-second-half-division {
  display: flex;
}
.sec4-second-half1 {
  font: var(--font-secondary-regular);
  width: 50%;
  padding-right: 93px;
}
.sec4-second-half2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}
.image1 {
  width: 100%;
}
.siri-icon {
  margin: 15px;
}
.sec4-paragraph {
  margin-bottom: 22px;
  font: var(--font-secondary-regular);
  display: inline-block;
  line-height: 1.625em;
}
.tech-list {
  list-style: none;
  margin-left: 20px;
  line-height: 1.635em;
  font: var(--font-primary-semi-bold);
  .tech-list-item {
    position: relative;
    margin-bottom: 20px;
    &::before {
      content: "";
      background: var(--color-primary);
      height: 8px;
      width: 8px;
      position: absolute;
      border-radius: 15px;
      left: -15px;
      top: 8px;
    }
  }
}


@media only screen and (max-width: 697px) {
  .sec4-second-half{
    padding: 20px;
  }
  .sec4-second-half-division {
    flex-direction: column;
  }
  .sec4-second-half1 {
    width: 100%;
    padding: 0;
  }
  .sec4-second-half2 {
    width: 100%;
    display: flex;
    padding: 0;
  }
  .image1 {
    display: none;
  }
  .alexa {
    width: 35%;
  }
  .siri-icon {
    width: 18%;
  }
}
