/* -------------------- WHY CHOOSE US SECTION STYLING STARTS HERE------------------------------- */
.head-line {
  font: var(--font-primary-bold);
  font-size: var(--font-large);
  color: var(--color-text-primary);
  text-align: center;
}
.attribute {
  display: flex;
  border-top: 0.6px solid #201e20;
}
.why-us-questions {
  display: flex;
  align-items: center;
  width: 26%;
  padding: 29px 20px;
}
.why-us-logo{
  max-width: 100px;
}
.values {
  font: var(--font-primary-medium);
  color: #000000;
}
.why-us-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 37%;
  padding: 29px 20px;
  &.active{
    background-color: var(--color-text-secondary);
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.1);
  }
}
.top-color {
  background-color: #201e20;
  border-radius: 24px 24px 0 0;
  margin-top: 60px;
  align-items: center;
  padding: 8px;
}
.bottom-color {
  padding: 10px;
  height: 31px;
  border-radius: 0 0px 24px 24px;
}
.styling {
  font: var(--font-primary-bold);
  color: #000000;
  position: relative;
  margin-left: 33px;
  &::before {
    content: "";
    background: var(--color-primary);
    height: 7px;
    width: 7px;
    position: absolute;
    border-radius: 15px;
    left: -11px;
    top: 8px;
  }
}
.top {
  padding: 0;
  border: none;
}
.client-btn{
display: block;
margin: auto;
margin-top: 60px;
}

//FOR MOBILE
@media screen and (max-width: 697px) {
  .attribute:nth-last-of-type(1),
  .attribute:nth-of-type(1) {
    .why-us-questions {
      width: 34px;
    }
  }
  .why-us-questions {
    width: auto;
    padding: 29px 8px;
  }
  .values {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .why-us-benefits {
    width: 44%;
    padding: 10px;
  }
  .styling {
    font-size: var(--font-small);
    margin: 0 0 5px 20px;
     &:before {
     content: "";
     background: var(--color-primary);
     height: 5px;
     width: 5px;
     position: absolute;
     border-radius: 15px;
     left: -8px;
     top: 6px;
     } 
  }
  .head-line{
    margin-top: 50px;
  }
}
/* -------------------- WHY CHOOSE US SECTION STYLING ENDS HERE------------------------------- */