// Import Global styling
@import "./../variables.scss";
@import "./../global.scss";

// Components
@import "../components/buttons.scss";
@import "../components/inquiry-form.scss";

@import "../components/menu.scss";
@import "../sections/faq.scss";
@import "../sections/footer.scss";

// Contact Numbers
.contact-numbers {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
}
.number-item {
  text-align: center;
}
.number-link {
  color: var(--color-text-primary);
  display: block;
  font: var(--font-primary-regular);
  font-size: var(--font-medium);
  margin-top: 23px;
  text-align: center;
}
.phone-num{
  color: var(--color-text-primary);
  display: block;
  font: var(--font-primary-regular);
}

// Map and format
.map-form-wrap {
  display: flex;
}
.map-wrapper {
  width: 65%;
  border: 3px solid var(--color-secondary);
  border-radius: 20px;
}
.form-wrapper {
  position: relative;
  top: 0;
}
@media screen and (max-width: 697px) {
  .contact-numbers {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .number-item {
    margin: 20px 10px;
  }
  .map-form-wrap {
    flex-direction: column;
  }
  .map-wrapper {
    width: 100%;
  }
  .form-wrapper {
    margin-top: 30px;
    padding: 0;
    width: 100%;
  }
}
