// Import Global styling
@import "./../variables.scss";
@import "./../global.scss";

.covid-popup {
    background-color: var(--color-background-light);
    padding: 12px 20px;
  }
  .covid-msg {
    color: var(--color-text-primary);
    font: var(--font-primary-medium);
  }  
@import "../components/menu.scss";
@import "../sections/hero.scss";
@import "../sections/designs.scss";
@import "../sections/expertise-ad.scss";
@import "../sections/number-home.scss";
@import "../sections/technology.scss";
@import "../components/number-component.scss";
@import "../sections/how-it-works.scss";
@import "../sections/testimonials.scss";
@import "../sections/projects-section.scss";
@import "../sections/orders.scss";
@import "../sections/client-videos.scss";
@import "../sections/faq.scss";
@import "../sections/dream-home.scss";
@import "../sections/footer.scss";