RewriteEngine on
# not rewrite css, js and images
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png|svg)$ [NC]
RewriteRule ^about-us controllers/about.php [L]
RewriteRule ^projects controllers/projects.php [L]
RewriteRule ^project-consumption controllers/project-consumption.php [L]
RewriteRule ^clients controllers/clients.php [L]
RewriteRule ^contact controllers/contact.php [L]

# ^$ checks for empty string to redirect to index
RewriteRule ^$ controllers/index.php [L]